
*.LinkFileList  # Will exclude all .log files
*.DS_Store
*.dep
*.o
*.a
*~

SDK/trunk/BaseUtilities/projects/OSXXCode/build/*
SDK/trunk/STools/projects/osxxcode/build/*
SDK/trunk/BaseUtilities/projects/OSXXCode/build/*

