*.scc
tmp
obj
*.csproj.user
*.suo
*.ncb
*.aps
Debug
debug
Release
release
*.vcproj.*.*.user
Resources.h
ResourcesInc.cpp
res.k2s
*.o
*.lo
*.la
#*#
.*.rej
*.rej .*~
*~
.#*
.DS_Store
*.mode1
*.pbxuser
build
Build
Builds
*.mode1
*.mode1v3
DoesntMatter.k2s
*.APS
.svn
*.tm_build_errors

